/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background-color: rgba(0,0,0,0.5);

    background-image: url("./assets/924491.jpg");
    background-attachment: center;
    background-size: cover;
}
.menuButton{
    color:#223a46;
}
.menu{
    button a{
        text-decoration: none;
        color:black;
    }
}

@media screen and (max-width: 1500px) {
    .menuButton{
        color:white;
    }
}