<div class="containerGlobal">
<div class="profile">
<div class="form-horizontal">
  <h2>Profile</h2>
  <div>
    <img src="{{image}}" alt="avatar">
  </div>
  <div class="file-upload">
      <input type="file" name="avatar" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
      <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        Upload
      </button>
    </div>
   
    <div class="form-group">
      <label class="col-sm-3 control-label">Username: </label>
      <p class="form-control-static">{{ auth.getUserDetails()?.username }}</p>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">User Email: </label>
      <p class="form-control-static">{{ auth.getUserDetails()?.usermail }}</p>
    </div>
  </div>
</div>
</div>