<div class="navbar">
<a href="/"><img src="../assets/logo.png" alt="logo"></a>
<ul class="nav navbar-nav navbar-right">
    <li><a routerLink="/accueil" routerLinkActive="orange">Accueil</a></li>
    <li *ngIf="!auth.isLoggedIn()"><a routerLink="/register" routerLinkActive="orange">S'enregistrer</a></li>
    <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login"  routerLinkActive="orange">Se connecter</a></li>
    <li *ngIf="auth.isLoggedIn()"><a  routerLink="/profile" routerLinkActive="orange"  >{{ auth.getUserDetails()?.username }}</a></li>
    <li *ngIf="auth.isLoggedIn()"><a  routerLink="/create-post" routerLinkActive="orange"  >Créer un Post</a></li>
    <li *ngIf="auth.isAdminLogged()"><a  routerLink="/admin" routerLinkActive="orange" >Panneau d'administration</a></li>
    <li><a routerLink="/contact" routerLinkActive="orange"   >Contact</a></li>
    <li *ngIf="auth.isLoggedIn()" ><a (click)="auth.logout()" routerLinkActive="orange">Deconnexion</a></li>
  </ul>
  <div class="menuResponsive">
    <button mat-button [matMenuTriggerFor]="menu" class="menuButton" >Menu</button>
    <mat-menu #menu="matMenu" class="menu">
      <button mat-menu-item><a routerLink="/accueil" routerLinkActive="orange">Accueil</a></button>
      <button mat-menu-item *ngIf="!auth.isLoggedIn()"><a routerLink="/register" routerLinkActive="orange">S'enregistrer</a></button>
      <button mat-menu-item *ngIf="!auth.isLoggedIn()"><a routerLink="/login" routerLinkActive="orange"> Se connecter</a></button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" ><a  routerLink="/profile" routerLinkActive="orange" >{{ auth.getUserDetails()?.username }}</a></button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" ><a routerLink="/create-post" routerLinkActive="orange" >Créer un Post</a></button>
        <button mat-menu-item  *ngIf="auth.isAdminLogged()" ><a routerLink="/admin" routerLinkActive="orange" >Panneau d'administration</a></button>
        <button mat-menu-item ><a routerLink="/contact" routerLinkActive="orange" >Contact</a></button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" ><a (click)="auth.logout()" routerLinkActive="orange">Deconnexion</a></button>


    </mat-menu>
  </div>
</div>

<router-outlet></router-outlet>


