<div class="create">
<h2>Créer un Post</h2>
<form (submit)="createPostForm()">
    <div class="form-group">
        <div>
        <mat-form-field class="title">
            <input matInput type="text" class="form-control" name="titlepost" placeholder="Titre du post" [(ngModel)]="credentials.titlepost">
        </mat-form-field>
    </div>
        <mat-form-field class='textarea' >
            <textarea matInput 
            cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="25"
            minlength="10"  
            type="text" 
            class="form-control" 
            name="post" 
            placeholder="Ecrivez votre post ici, 10 caractères minimum!" 
            [(ngModel)]="credentials.post"
            >
        </textarea>
        </mat-form-field>
    </div>
    <div>
        <p class="error" *ngIf="this.status === true">Post trop court 10 caractères minimum!</p>
    </div>
    <div>
        <p class="error" *ngIf="this.error != null">{{error}}</p>
    </div>
    <button mat-button type="submit" class="btn btn-default">Envoyer!</button>
</form>
</div>