.footer{
    position:relative;   
    bottom:0;
    height:20%;
    width:100%;
    background-color: #223a46;
    box-shadow:1px 1px 5px black;
    display:flex;
}
.logo{
    display:inline-flex;
    p{
        margin-top:30%;
        margin-left:20%;
        width:100%;
        color:#3f7590;
    }
}
img{
    width:100%;
    padding:0;
    margin:0;
}
.intersection{
    width:2px;
    margin: 0.5% 5%;
    height:90%;
    background-color: black;
}