<div class="post">
    <img src="{{avatarPost}}" alt="avatar">
    <h3 class="title">{{titlepost}}</h3>
    <p class="date ">{{date}}</p>
    <p class="originPost">{{post}}</p>
    <p class="username">{{username}}</p>
    <button mat-stroked-button  *ngIf="user.isLoggedIn()" (click)="answerFunction()"><span *ngIf="inputStatus===false">Répondre</span><span *ngIf="inputStatus===true">Annuler</span></button>
</div>
<div class="answerInput" *ngIf="inputStatus">
    <form (submit)="createCommentForm()">
    <mat-form-field class='textarea'>
        <textarea matInput cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="25"
        minlength="10" 
        type="text" 
        name="answerInput" 
        placeholder="Votre réponse" 
        [(ngModel)]="credentials.answerInput"></textarea>
    </mat-form-field>
    <button type="submit" mat-stroked-button >Envoyer</button>
</form>
</div>
<div *ngFor="let answers of comments">
    <div [ngClass]="answers.commentuserId != this.userId ? 'right':'left'" class="answer">
        <img src="{{answers.avatarAnswer}}" class="avatarTalk" alt="avatar">
        <p class="username">{{answers.username}}</p>
        <p class="answerUser">{{answers.answerInput}}</p>
    </div>
</div>

