<div class="containerGlobal">
<div class="adminpost">
<h2>Posts à valider</h2>
<table>
    <tr>
        <th>Title </th>
        <th>Post</th>
        <th>Username</th>
        <th>Date</th>
    </tr>
    <tr *ngFor="let article of posts ">
        <td><div class="article">{{article.titlepost}}</div></td>
        <td ><div class="article" >{{article.post}}</div></td>
        <td><div class="article">{{article.username}}</div></td>
        <td><div class="article">{{article.date}}</div></td>
        <td class="button"><button (click)="validation(article._id)">Valider</button></td>
        <td class="button"><button (click)="delete(article._id)">Supprimer</button></td>
        
    </tr>
</table>
</div>
</div>