table{
    border:2px solid black;
    margin-left: 50%;
    transform:translate(-50%);
}
th{
    border: 1px solid black;
}
th{
    font-weight: 300;
}
.isAdmin{
    font-weight: 500;
}
h2{
    text-align: center;
}