<div class="adminuser">
<h2>Gestion des Utilisateurs</h2>
<table>
    <tr class="title">
        <th>Username</th>
        <th>Usermail</th>
        <th>isAdmin</th>
    </tr>
    <tr *ngFor="let user of users ">
        <th>{{user.username}}</th>
        <th>{{user.usermail}}</th>
        <th class="isAdmin">{{user.isAdmin}}</th>
        <th *ngIf="!user.isAdmin"><button mat-button (click)="updateAdmin(user._id)">Passer Admin</button></th>
        <th><button mat-button (click)="delete(user._id)">Supprimer</button></th>
    </tr>
</table>
</div>






