ul{
    margin-top:1%;
}
li{
    list-style-type: none;
    margin:1%;
}
a{
    text-decoration: none;
    color:black;
}
span{
    text-decoration: underline;
}

.titlepost{
    font-weight:bold;
}
.container{
    display:flex;
    justify-content: space-between;
}
.post{
    background-color: #d5effb;
    padding:0.1%;
    box-shadow: 1px 2px 2px black;
    max-width:60%;
    margin-left:50%;
    transform: translate(-50%);
}
.ex{
    display:flex;
    margin-left:50%;
    transform: translate(-50%);
    justify-content:space-between;
    max-width:60%;
    width:40%;
}
.date{
    font-style: italic;
}
.username{
    font-style:italic;
}
h2{
    text-align: center;
}